@import "globals/variables", "globals/mixins";

@media only screen and (max-width : 480px) {
    .-action {
        width : 100%;
    }
}

@media only screen and (min-width : 480px) {
    .-action {
        width : 270px;
    }
}

.-action {
    float            : left;
    position         : absolute;
    z-index          : 9;
    height           : 100%;
    padding          : 0 0 0 45px;
    color: $cg8;
    background-color : $cg2;
    margin-top: 50px; //  Account for the app header element

    section {
        ul {
            li {
                a {
                    &:hover {
                        color: $cg2;
                    }
                }
            }
        }
    }
}