@import "globals/variables", "globals/mixins", "globals/animations";

@media only screen and (max-width : 480px) {
    .-action {
        width : 100%;
    }
}

@media only screen and (min-width : 480px) {
    .-action {
        width : 270px;
    }
}

.-action {
    float            : left;
    position         : absolute;
    z-index          : 9;
    height           : 100%;
    padding          : 0 0 0 45px;
    color: $cg8;
    background-color : $cg2;
    padding-top: 50px; //  Account for the app header element

    &.slide-in-offset {
        @include slide-offset(0 0 0 45px);
    }

    &.slide-out-offset {
        @include slide-offset(0 0 0 0);
    }

    section {
        padding-top: 50px;
        height: 100%;
        overflow-y: auto;
        div { // This is the container div for all ng-switch="currentAction"'s
            .-theme-list {
                // list elements style here.
            }

// /*Remove connectors before root*/
// .tree > ul > li::before, .tree > ul > li::after{
//     border: 0;
// }
// /*Remove connectors after last child*/
// .tree li:last-child::before{
//       height: 30px;
// }

            .-page-tree {
                h2 {
                    font-size: 16px;
                }

                li {
                    // &:hover {
                        a {
                            &:hover {
                                background: $cg8;
                                color: $cg2;
                                border: 1px solid $cg2;

                                +ul {
                                    li {
                                        a {
                                            background: $cg8;
                                            color: $cg2;
                                            border: 1px solid $cg2;
                                        }
                                    }
                                }
                            }
                        }
                    // }
                }

                ul {
                    li {
                        margin: 0px 0;
                        list-style-type: none;
                        position: relative;
                        padding: 20px 5px 0px 5px;

                        // &:hover {
                        //     background: $cg8;
                        //     color: $cg2;
                        //     border: 1px solid $cg2;
                        // }

                        &:before {
                            content: '';
                            position: absolute;
                            top: 0;
                            width: 1px;
                            height: 100%;
                            right: auto;
                            left: -20px;
                            border-left: 1px solid #ccc;
                            bottom: 50px;
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            top: 30px;
                            width: 25px;
                            height: 20px;
                            right: auto;
                            left: -20px;
                            border-top: 1px solid #ccc;
                        }

                        a {
                            display: inline-block;
                            border: 1px solid #ccc;
                            padding: 5px 10px;
                            text-decoration: none;
                            color: #666;
                            font-family: arial, verdana, tahoma;
                            font-size: 11px;
                            border-radius: 5px;
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;

                            /* TODO Use somehting like this to clean up the implementaiton */
                            // /*Time for some hover effects*/
                            // /*We will apply the hover effect the the lineage of the element also*/
                            // .tree li a:hover, .tree li a:hover+ul li a {
                            //     background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
                            // }
                            // /*Connector styles on hover*/
                            // .tree li a:hover+ul li::after,
                            // .tree li a:hover+ul li::before,
                            // .tree li a:hover+ul::before,
                            // .tree li a:hover+ul ul::before{
                            //     border-color:  #94a0b4;
                            // }
                        }

// /*Remove connectors before root*/
// .tree > ul > li::before, .tree > ul > li::after{
//     border: 0;
// }
// /*Remove connectors after last child*/
// .tree li:last-child::before{
//       height: 30px;
// }

                        // Most come after the above
                        // &::before, &::after {
                        //     border: 0;
                        // }
                    }
                }
            }
        }
    }
}

/*Remove connectors before root*/
.page-tree > ul > li::before, .page-tree > ul > li::after{
    border: 0;
}
/*Remove connectors after last child*/
.page-tree li:last-child::before{
      height: 30px;
}