@import "globals/variables", "globals/mixins";

.-action-bucket {
    float   : left;
    padding : 20px 20px 20px 300px;
    height  : 100%;
    width   : 100%;
    position : absolute;

    section {
        border  : 1px solid green;
        height : 100%;
    }

    iframe {
        @include transition(all 0.5s ease);
        border  : 1px solid red;
        height  : 100%;
        margin  : 0 auto;
        display : block;

        &.-screen {
            width : 1024px;
        }
        &.-tablet {
            width : 786px;
        }
        &.-mobile {
            width : 480px;
        }
    }
}