@import "globals/variables", "globals/mixins", "globals/animations";

@media only screen and (max-width : 480px) {
    .-action {
        width : 100%;
    }
}

@media only screen and (min-width : 480px) {
    .-action {
        width : 270px;
    }
}

.-action {
    float            : left;
    position         : absolute;
    z-index          : 9;
    height           : 100%;
    padding          : 0 0 0 45px;
    background-color : $cg2;

    &.slide-in-offset {
        @include slide-offset(0 0 0 45px);
    }

    &.slide-out-offset {
        @include slide-offset(0 0 0 0);
    }

    section {
        margin-top : 50px;

        ul {
            li {
                a {
                    color : $cg8;
                    &:hover {
                        color : $cg2;
                    }
                }
            }
        }
    }
}