@import "globals/variables", "globals/mixins", "globals/animations";

@media only screen and (max-width : 480px) {
    .-action {
        width : 100%;
    }
}

@media only screen and (min-width : 480px) {
    .-action {
        width : 335px;
    }
}

.-action {
    position         : absolute;
    z-index          : 9;
    height           : 100%;
    padding          : 0 0 0 78px;
    color            : $cg8;
    background-color : #2d3f55;
    padding-top      : 50px; //  Account for the app header element

    &.slide-in-offset {
        @include slide-offset(0 0 0 78px);
    }

    &.slide-out-offset {
        @include slide-offset(0 0 0 0);
    }

    section {
        height : 100%;

        div {
            // This is the container div for all ng-switch="currentAction"'s
            .-theme-list {
                .-body {
                    @include helperActionSection;
                }
            }

            .-page-list, .-page-stats {
                padding-top      : $headerHeight;
                background-color : inherit;

                header {
                    padding     : 20px;
                    line-height : 30px;
                    height      : 75px;

                    span {
                        font-size : 18px;
                        position  : relative;
                        top       : 4px;
                    }

                    .page-search {
                        position : relative;

                        input {
                            padding-right : 20px;
                            width         : 100%;
                        }

                        span {
                            position       : absolute;
                            right          : 0px;
                            padding        : 5px 6px;
                            pointer-events : none;
                            color          : $cg2;
                        }
                    }
                }

                &.fade-in {
                    @include fade(1);
                    z-index : 1000;
                }

                &.fade-out {
                    @include fade(0);
                    z-index : -1000;
                }

                .-body {
                    @include helperActionSection;

                    span.-header {
                        padding-left     : 20px;
                        font-size        : 18px;
                        position         : relative;
                        top              : 4px;
                        background-color : inherit;
                    }

                    ul {

                        padding : 10px;

                        li {

                            margin          : 0;
                            list-style-type : none;
                            position        : relative;
                            padding         : 0;

                            a {
                                display         : inline-block;
                                padding         : 5px 10px;
                                text-decoration : none;
                                color           : #91a1b1;

                                &:hover {
                                    color : $cg10;
                                }

                                &.-node {
                                    color : #117db5;
                                }
                            }

                            button {
                                margin-left      : 10px;
                                padding          : 5px;
                                background-color : transparent;
                                color            : #91a1b1;
                                border-color     : #91a1b1;
                                outline          : 0;
                                outline          : none;

                                &:hover {
                                    color        : $cg10;
                                    border-color : #117db5;
                                }

                                span {
                                    &:before {
                                        content : url("/images/ico-plus.svg");
                                        margin  : 0 5px 0 3px;
                                    }
                                }
                            }
                        }

                        &.subgroup {

                            padding-left : 40px;

                            li {
                                &:before {
                                    content     : '';
                                    position    : absolute;
                                    top         : 0;
                                    width       : 1px;
                                    height      : 100%;
                                    right       : auto;
                                    left        : -20px;
                                    border-left : 1px solid #91a1b1;
                                    bottom      : 50px;
                                }

                                &:after {
                                    content  : '';
                                    position : absolute;
                                    top      : 30px;
                                    width    : 25px;
                                    height   : 20px;
                                    right    : auto;
                                    left     : -20px;
                                }
                            }
                        }
                    }
                }
            }

            .-page-tree {
                width : 100%;

                .-page-form, .-product-form, .-category-form {
                    position     : absolute;
                    height       : 100%;
                    overflow-y   : scroll;
                    color        : $cg8;
                    opacity      : 0;
                    z-index      : -1000;
                    padding-left : 10px;
                    padding-top  : $headerHeight;

                    div {
                        margin-bottom : 10px;
                        display       : inline-block;
                        width         : 100%;
                        min-width     : 225px;
                        max-width     : 335px; // NOTE: This controls the forms behavior with hide/show nav

                        p {
                            font-size      : 12px;
                            text-transform : uppercase;
                            padding        : 0;
                            margin         : 0;
                        }

                        input {
                            background-color : inherit;
                        }
                    }

                    .form-header {
                        padding : 10px 0 0 0;

                        button {
                            float            : right;
                            border           : none;
                            background-color : inherit;
                            color            : $cg8;
                        }
                    }

                    .name {
                        color : $cg6;

                        input {
                            @include formInput();
                        }
                    }

                    .images {
                        .-carousel {
                            ul {
                                list-style-type: none;
                                padding: 0;
                                margin: 0;
                                display: inline-block;
                            }
                        }

                    }

                    .pricing {

                        input {
                            @include formInput();
                        }
                    }

                    .description {
//                        .editor {
                            textarea {
                                @include formInput();
                                height: 225px;
                                resize: none;
                            }
//                        }
                        .ta-root { // tiny-edit container
                            width: 96%;
                            height: 225px;
                            resize: none;

                            .ta-toolbar {
                                margin: 0;

                                .btn-group {
                                    margin: 0;
                                    background-color: $cg10;
                                    @include border-radius(5px 5px 0 0);

                                    .btn {

                                        border: none;

                                        .active {
                                            border : none;
                                        }
                                    }

                                    // remove once we have enough buttons
                                    > .btn:last-child:not(:first-child) {
                                        @include border-radius(0);
                                    }
                                }
                            }

                            .ta-text {
                                @include formInput();
                                @include border-radius(0 0 5px 5px);
                                width: 100%;
                                height: 190px;
                                margin-top: -5px;
                            }
                        }
                    }

                    &.fade-in {
                        @include fade(1);
                        z-index : 1000;
                    }

                    &.fade-out {
                        @include fade(0);
                        z-index : -1000;
                    }
                }
            }
        }
    }

    //    .-design {
    //        padding : 10px 0;

    .-themes {
        padding-top : $headerHeight;

        .-current {
            padding       : 10px 0;
            border-bottom : 2px solid $cg8;
            text-align    : center;
        }
    }
    //    }
}