@import "globals/variables", "globals/mixins", "globals/animations";

.attr-bucket {
    border      : 1px solid yellow;
    position    : absolute;
    width       : 270px;
    height      : 100%;
    right       : 0;
    top         : 0;
    padding-top : 50px;
    color       : $cg10;

    &.slide-in {
        @include slide-right(0);
    }

    &.slide-out {
        @include slide-right(-50px);
    }

    a.-close {
        position : absolute;
        top      : 55px;
        left    : 10px;
    }
}