@import "globals/variables", "globals/mixins";

.-header {
    header {
        background-color : $cg10;
        border-bottom    : none;

        .global-nav {
            float: left;
            margin: 10px;
            font-size: 20px;

            button {
                border: none;
                background: none;

                &:hover {
                    color: $cg4;
                }
            }
        }

        a {
            @include hyperlinks($cg3, $cg3, $cg1, $cg1); // $link, $visited, $hover, $active, $cursor: pointer (by default)
        }

        .company-name {
            @include font-size($fs6);
            color : $cg4 !important;
        }

        .comp-slider {
            margin : 15px;

            div {
                float : left;

                &.-label {
                    @include font-size($fs4);
                    margin : 5px;
                }
            }
        }
    }
}

