@import "globals/variables", "globals/mixins";

/* Application navigation elements */
.-navigation {
    width   : 50px;
    padding: 0;

    section {
        color            : $cg8;
        // background-color : $cg2;

        ul {
            li {
                a {
                    // @include hyperlinks($cg8, $cg8, $cg0, $cg2); // $link, $visited, $hover, $active, $cursor: pointer (by default)
                    color: $cg8;
                    &:hover {
                        background-color: $cg2;
                    }
                }
            }
        }
    }
}