@import "globals/variables", "globals/mixins", "globals/animations";

/* Application navigation elements */
.-navigation {
    float            : left;
    width            : 78px;
    height           : 100%;
    padding          : 0;
    background-color : $cg1;
    z-index          : 99;
    position         : absolute;

    &.slide-in {
        @include slide-left(0);
    }

    &.slide-out {
        @include slide-left(-78px);
    }

    section {
        color      : $cg8;
        margin-top : $headerHeight;

        ul {
            li {

                border-bottom : 1px solid #293A4B;

                a {
                    display        : table-cell;
                    height         : 66px;
                    padding        : 0 5px;
                    text-align     : center;
                    transition     : background 0.3s ease 0s;
                    vertical-align : middle;
                    width          : 78px;
                    color          : $cg8;
                    font-size      : 20px;

                    &:hover {
                        background-color : #2D3F55;
                    }
                }

                img {
                    display : inline;
                }

                img + img {
                    display : none;
                }

                &.active {
                    background-color : #2D3F55;
                    border-color     : #117DB5;

                    img {
                        display : none;
                    }

                    img + img {
                        display : inline;
                    }
                }

                &:hover {
                    border-color : #117DB5;

                    img {
                        display : none;
                    }

                    img + img {
                        display : inline;
                    }
                }
            }

        }
    }
}
