@import "globals/variables", "globals/mixins", "globals/animations";

@media only screen and (max-width : 480px) {
    .-workspace {
        display : none;

    }
}

.-workspace {
    float    : left;
    padding  : 70px 300px 20px 300px;
    height   : 100%;
    width    : 100%;
    position : absolute;

    &.slide-in-offset {
        @include slide-offset(70px 300px 20px 300px);
    }

    &.slide-out-offset {
        @include slide-offset(70px 20px 20px 300px);
    }

    .-site {
        border   : 1px solid green;
        height   : 100%;
        position : relative;

        iframe {
            @include transition(all 0.5s ease);
            border  : 1px solid red;
            height  : 100%;
            margin  : 0 auto;
            display : block;

            &.-desktop {
                width : 1024px;
            }
            &.-tablet {
                width : 786px;
            }
            &.-mobile {
                width : 480px;
            }

            &.-scaled {
                position : absolute;
            }
        }

        .-scaled-label {
            border           : 1px solid $cg-min;
            background-color : $cg4;
            color            : $cg-min;
            position         : absolute;
            padding          : 5px;
            bottom           : -10px;
            right            : 0;
        }

        #ifrContainer {
            height : 100%;
            left   : 0;

        }
        #ifr {
            width  : 100%;
            height : 100%
        }
        .drag-active {
            z-index    : 2;
            -ms-filter : "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            filter     : alpha(opacity=100);
            opacity    : 1;
        }
        .drop-hover {
            border : 4px dashed #51B62B;
        }

        .droppable-fake {
            position : absolute;
            top      : 0;
            left     : 0;
            right    : 0;
            bottom   : 0;
            z-index  : -4;
        }
        .droppable-fake.drop-active {
            z-index : 2;
        }
        .inner-drag .droppable-fake {
            display : none;
        }
    }

    a.-close {
        position        : absolute;
        top             : 75px;
        right           : 5px;
        z-index         : 4;
        text-decoration : none;

        &.-state-add {
            @include transform-rotate(45deg);
        }
    }
}