@import "globals/variables", "globals/mixins", "globals/animations";

.btn {
    padding: 4px 27px 4px 26px;
    @include transition-to(all, 0.3s);
    background-color: $cg10;

    &.-vln-default {
        color        : #BDC7D0;
        border-color : #D1D8DF;
        border-width : 2px;

        &:hover {
            background   : #fff;
            color        : #2d3f55;
            border-color : #388fbd;
        }
    }
}