@mixin slide-left($distance) {
    -moz-transition    : left 1s;
    -webkit-transition : left 1s;
    -o-transition      : left 1s;
    transition         : left 1s;
    //    left               : -50px;
    left               : $distance;
}

@mixin slide-right($distance) {
    -moz-transition    : right 1s;
    -webkit-transition : right 1s;
    -o-transition      : right 1s;
    transition         : right 1s;
    right              : $distance;
}

//.slide-out-offset {
//    -moz-transition    : padding 1s;
//    -webkit-transition : padding 1s;
//    -o-transition      : padding 1s;
//    transition         : padding 1s;
//    padding            : 0 0 0 0px;
//}

@mixin slide-offset($padding...) {
    -moz-transition    : padding 1s;
    -webkit-transition : padding 1s;
    -o-transition      : padding 1s;
    transition         : padding 1s;
    padding            : $padding;
}

//.slide-in-offset {
//    -moz-transition    : padding 1s;
//    -webkit-transition : padding 1s;
//    -o-transition      : padding 1s;
//    transition         : padding 1s;
//    padding            : 0 0 0 45px;
//}

@mixin fade($param) {
    -moz-transition    : opacity 1s;
    -webkit-transition : opacity 1s;
    -o-transition      : opacity 1s;
    transition         : opacity 1s;
    opacity            : $param;
}