  .slide-out {
    -moz-transition: left 1s;
    -webkit-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
    left: -50px;
}

  .slide-in {
    -moz-transition: left 1s;
    -webkit-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
    left: 0px;
}

  .slide-out-offset {
    -moz-transition: padding 1s;
    -webkit-transition: padding 1s;
    -o-transition: padding 1s;
    transition: padding 1s;
    padding: 0 0 0 0px;
}

  .slide-in-offset {
    -moz-transition: padding 1s;
    -webkit-transition: padding 1s;
    -o-transition: padding 1s;
    transition: padding 1s;
    padding: 0 0 0 45px;
}
