<!-- Note: This will prolly need a dive - not show here is the selected/current theme as well as the ability to filter and search available themes -->
<!--<section class="-design container-fluid text-center">-->
<div class="-themes">
    <div class="row-fluid -current">
        <header>{{ themeCurrent.name }}</header>
        <img ng-src="{{ themeCurrent.thumbnail }}" alt="">
    </div>
    <div class="row-fluid -theme-list">
        <div class="-body" ng-style="{ 'height': elementHeight }">
            <ul class="nav">
                <li ng-repeat="theme in themes"
                    class="active text-center"
                    ng-class="{ 'ng-hide' : theme.id == themeCurrent.id }"
                    ng-click="loadTheme(theme)">
                    <a ng-click="theme">
                        <header>{{ theme.name }}</header>
                        <img ng-src="{{ theme.thumbnail }}" alt="Theme 1">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--</section>-->