<div class="-page-tree">
    <!-- Start the component forms for adding content -->
    <div class="add-page-form"
         ng-class="visiblePageForm ? 'fade-in' : 'fade-out'">
        <div class=""> <!-- here so bootstrap works for us -->
            <button ng-click="hideForm('page')">Dismiss +Page form</button>
            Lets put some content in here and size it with bootstrap
        </div>
    </div> <!-- to be directive -->
    <div class="add-product-form"
         ng-class="visibleProductForm ? 'fade-in' : 'fade-out'">
        <div class=""> <!-- here so bootstrap works for us -->
            <button ng-click="hideForm('product')">Dismiss +product form</button>
            Lets put some content in here and size it with bootstrap
        </div>
    </div><!-- to be directive -->
    <div class="add-category-form"
         ng-class="visibleCategoryForm ? 'fade-in' : 'fade-out'">
        <div class=""> <!-- here so bootstrap works for us -->
            <button ng-click="hideForm('category')">Dismiss +product form</button>
            Lets put some content in here and size it with bootstrap
        </div>
    </div> <!-- to be directive -->
    <!-- End compnent forms -->
    <header>
        <span>Pages</span>
        <div class="col-xs-9 pull-right page-search" >
            <div class="right-inner-addon">
                <span class="icon-search"></span>
                <input type="search"
                       class="form-control"
                       placeholder="$filter $animate" />
            </div>
        </div>
    </header>
    <ul>
        <li>
            <a ng-click="loadIframe('{{pageData.siteUrl}}')">{{pageData.siteName}}</a>
            <ul>
                <li ng-repeat="page in pageData.pages">
                    <a href="#" ng-click="loadIframe(page)">{{ page.name }}</a>
                </li>
                <li ng-repeat-end>
                    <a href="#" ng-click="addPage()">
                        <span class="icon-plus"></span>
                        <!-- Add Page -->
                    </a>
                </li>

                <li>
                    <a href="#">Categories</a>
                    <ul>
                        <li ng-repeat="category in pageData.categories">
                            <a href="#" ng-click="loadIframe(category)">{{ category.name }}</a>
                        </li>
                        <li ng-repeat-end>
                            <a href="#" ng-click="addCategory()">
                                <span class="icon-plus"></span>
                                <!-- Add Page -->
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Products</a>
                    <ul>
                        <li ng-repeat="product in pageData.products">
                            <a href="#" ng-click="loadIframe(product)">{{ product.name }}</a>
                        </li>
                        <li ng-repeat-end>
                            <a href="#" ng-click="addProduct()">
                                <span class="icon-plus"></span>
                                <!-- Add Page -->
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
