<div class="-page-tree" ng-controller="vlnPageCtrl">
    <!-- Start the component forms for adding content -> idk, should this be up one level??-->
    <div class="-page-form"
         ng-class="visiblePageForm ? 'fade-in' : 'fade-out'">
        <div vln-page-form></div>
    </div>
    <div class="-product-form"
         ng-class="visibleProductForm ? 'fade-in' : 'fade-out'">
        <div vln-product-form
             prodId="currentProductId"></div>
     </div>
    <div class="-category-form"
         ng-class="visibleCategoryForm ? 'fade-in' : 'fade-out'">
        <div vln-category-form></div>
    </div>

    <div class="-page-list"
          ng-class="visibleAssetList ? 'fade-in' : 'fade-out'">
        <header>
            <span>Pages</span>
            <div class="col-xs-9 pull-right page-search" >
                <div class="right-inner-addon">
                    <span class="icon-search"></span>
                    <input type="search"
                           class="form-control"
                           placeholder="$filter $animate" />
                </div>
            </div>
        </header>
        <ul>
            <li>
                <a ng-click="loadIframe('{{ pageData.siteUrl }}')">{{pageData.siteName}}</a>
                <ul>
                    <li ng-repeat="page in pageData.pages">
                        <a href="#" ng-click="loadIframe(page)">{{ page.name }}</a>
                    </li>
                    <li ng-repeat-end>
                        <a href="#" ng-click="addPage()">
                            <span class="icon-plus"></span>
                            <!-- Add Page -->
                        </a>
                    </li>

                    <li>
                        <a href="#">Categories</a>
                        <ul>
                            <li ng-repeat="category in pageData.categories">
                                <a href="#" ng-click="loadIframe(category)">{{ category.name }}</a>
                            </li>
                            <li ng-repeat-end>
                                <a href="#" ng-click="addCategory()">
                                    <span class="icon-plus"></span>
                                    <!-- Add Page -->
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Products</a>
                        <ul>
                            <li ng-repeat="product in products">
                                <a href="#" ng-click="editProduct(product)">{{ product.name }}</a>
                            </li>
                            <li ng-repeat-end>
                                <a href="#" ng-click="addProduct()">
                                    <span class="icon-plus"></span>
                                    <!-- Add Page -->
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
