<div class="-page-tree">
    <header>
        <h2>Pages
            <span class="icon-search pull-right"></span>
            <span class="icon-plus pull-right"></span>
        </h2>
    </header>
    <ul>
        <li>
            <a href="#">RunawayClothing.com</a>
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Categories</a>
                    <ul>
                        <li>
                            <a href="#">Shirts</a>
                        </li>
                        <li>
                            <a href="#">Dresses</a>
                        </li>
                        <li>
                            <a href="#">Hats</a>
                        </li>
                        <li>
                            <a href="#">Shoes</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Products</a>
                    <ul>
                        <li><a href="#">Summer cloths</a></li>
                        <li><a href="#">Fall cloths</a></li>
                        <li><a href="#">Winter cloths</a></li>
                        <li><a href="#">Spring cloths</a></li>
<!-- NOTE: THe nesting can be used ever deeper if you want to ... -->
<!--                         <li>
                            <a href="#">Grand Child</a>
                            <ul>
                                <li>
                                    <a href="#">Great Grand Child</a>
                                </li>
                                <li>
                                    <a href="#">Great Grand Child</a>
                                </li>
                                <li>
                                    <a href="#">Great Grand Child</a>
                                </li>
                            </ul>
                        </li> -->
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <a href="#">Add (ng-repeat-end)</a>
</div>