<div class="container-fluid">
    <div class="row-fluid form-header">
        <header>{{ currentProduct.name }}
            <button type="button"
                ng-click="hideForm('product')"
                class="btn-default">
                <span class="icon-expand"></span>
            </button>
            <button type="button"
                ng-click="hideForm('product')"
                class="btn-default">
                <span class="icon-arrow-left"></span>
            </button>
        </header>
    </div>

    <div class="row-fluid name">
        <p>Name:</p>
        <input type="text"
               value="{{ currentProduct.name }}"
               ng-model="currentProduct.name">
    </div>

    <div class="row-fluid images">
        <!-- not happy with this but it seems better than angular-ui carousel
            http://blog.revolunet.com/angular-carousel/ -->
        <p>Images:</p>
        <div class="-carousel">
            <ul>
                <li><img src="/images/ico-img.svg" alt=""/></li>
            </ul>
            <button class="btn -vln-default -add">
                <span class="ico-add-more">Add</span>
            </button>
        </div>
    </div>

    <div class="row-fluid pricing">
        <p>Price:</p>
        <div>
            <input type="text"
                   value="{{ currentProduct.price }}"
                   ng-model="currentProduct.price">
        </div>
    </div>

    <div class="row-fluid">
        <p>Options:</p>
        <div>
            <button class="btn -vln-default -add">
                <span class="ico-add-more">Add</span>
            </button>
        </div>
    </div>

    <div class="row-fluid description">
        <p>Description:</p>
        <textarea ng-model="currentProduct.description">
            currentProduct.description
        </textarea>
    </div>

    <div class="row-fluid">
        <p><a href="#">Show advanced fields</a></p>
    </div>

    <!-- DEV NOTE: Keeping this row for add product flow, depending on how we add
        things to the system we may need to save to vln databases first
        and then sync that info up to firebase. -->
    <!--<div class="row-fluid">-->
        <!--<button>Cancel</button>-->
        <!--<button class="save-btn"-->
                 <!--ng-click="save(currentProduct)">Save</button>-->
    <!--</div>-->
</div>