<div class="-page-stats">
    <header>
        <span>Stats</span>
    </header>

    <div class="-body" ng-style="{ 'height': elementHeight }">
        This is a test text.<br/>
        This is a test text.<br/>
        This is a test text.<br/>
        This is a test text.<br/>
        This is a test text.<br/>
        This is a test text.<br/>
        This is a test text.<br/>
        This is a test text.<br/>
        This is a test text.<br/>This is a test text.<br/>
        This is a test text.<br/>
        This is a test text.<br/>
        This is a test text.<br/>
        This is a test text.<br/>
        This is a test text.<br/>
        This is a test text.<br/>This is a test text.<br/>
        This is a test text.<br/>
        This is a test text.<br/>
        This is a test text.<br/>
        This is a test text.<br/>
        This is a test text.<br/>
        This is a test text.<br/>
        This is a test text.<br/>
        This is a test text.<br/>
        This is a test text.<br/>
        This is a test text.<br/>
        This is a test text.<br/>
        This is a test text.<br/>
        This is a test text.<br/>
        This is a test text.<br/>
        This is a test text.<br/>
        This is a test text.<br/>
        This is a test text.<br/>
        This is a test text.<br/>
        This is a test text.<br/>
        This is a test text.<br/>
        This is a test text.<br/>
        This is a test text.<br/>
        ===============================<br/>
    </div>
</div>