<div class="-navigation col-md-1 container-fluid"
    ng-class="isVisible ? 'slide-in' : 'slide-out'"
    ng-controller="vlnAppNavCtrl">
    <section>
        <ul class="nav nav-sidebar">
            <li class="active"><a ng-click="loadDesignTools()"><span class="icon-eye"></span></a></li>
            <li><a ng-click="loadPageTools()"><span class="icon-files"></span></a></li>
            <li><a href="#"><span class="icon-cog"></span></a></li>
            <li><a href="#"><span class="icon-cog"></span></a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <li><a href=""><span class="icon-cog"></span></a></li>
            <li><a href=""><span class="icon-cog"></span></a></li>
            <li><a href=""><span class="icon-cog"></span></a></li>
            <li><a href=""><span class="icon-cog"></span></a></li>
            <li><a href=""><span class="icon-cog"></span></a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <li><a href=""><span class="icon-cog"></span></a></li>
            <li><a href=""><span class="icon-cog"></span></a></li>
            <li><a href=""><span class="icon-cog"></span></a></li>
        </ul>
    </section>
</div>