<section class="col-md-1 container-fluid -navigation">
    <ul class="nav nav-sidebar">
        <li><a href="#"><span class="icon-eye"></class></a></li>
        <li><a href="#"><span class="icon-stats"></class></a></li>
        <li><a href="#"><span class="icon-coin"></class></a></li>
        <li><a href="#"><span class="icon-users"></class></a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href=""><span class="icon-pencil"></class></a></li>
        <li><a href=""><span class="icon-pencil"></class></a></li>
        <li><a href=""><span class="icon-folder-open"></class></a></li>
        <li><a href=""><span class="icon-cog"></class></a></li>
        <li><a href=""><span class="icon-cog"></class></a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href=""><span class="icon-cog"></class></a></li>
        <li><a href=""><span class="icon-cog"></class></a></li>
    </ul>
</section>