<div class="-attr"
     ng-class="isVisible ? 'fade-in' : 'fade-out'">

    <section>

        <accordion close-others="true">
            <accordion-group heading="Widgets" is-open="true">
                <ul id="tools-group">
                    <li data-raw="&lt;div class=&#39;well&#39; dnd-draggable dnd-droppable&gt;&lt;/div&gt;" draggable data-helper="clone" dnd-draggable="" class="ui-draggable"><i class="glyphicon  glyphicon-adjust"></i>Drag 1</li>
                    <li data-raw="&lt;div class=&#39;alert alert-success&#39; dnd-draggable dnd-droppable&gt;&lt;/div&gt;" draggable data-helper="clone" dnd-draggable="" class="ui-draggable"><i class="glyphicon  glyphicon-adjust"></i>Drag 2</li>
                    <li data-raw="&lt;div class=&#39;alert alert-danger&#39; dnd-draggable dnd-droppable&gt;&lt;/div&gt;" draggable data-helper="clone" dnd-draggable="" class="ui-draggable"><i class="glyphicon  glyphicon-adjust"></i>Drag 3</li>
                    <li data-raw="&lt;div class=&#39;alert alert-warning&#39; dnd-draggable dnd-droppable&gt;&lt;/div&gt;" draggable data-helper="clone" dnd-draggable="" class="ui-draggable"><i class="glyphicon  glyphicon-adjust"></i>Drag 4</li>
                    <li data-raw="&lt;a class=&#39;btn btn-default&#39; dnd-draggable&gt;Button&lt;/a&gt;" draggable data-helper="clone" dnd-draggable="" class="ui-draggable"><i class="glyphicon  glyphicon-adjust"></i>Drag 5</li>
                </ul>
            </accordion-group>
            <accordion-group class="last" heading="Attributes" is-open="isopen">
                This is just some content to illustrate fancy headings.
            </accordion-group>
        </accordion>

    </section>
</div>


