<div class="-workspace"
     ng-class="isFullSize ? 'slide-out-offset' : 'slide-in-offset'">

    <section class="-site">
        <iframe src="http://localhost:9778"
                class="{{ displayClass }}"
                ng-class="{'-scaled' : isScaled }"
                ng-style="{'-webkit-transform' : vlnIFrameScale, 'left': isScaled ? scaledOffsetLeft : 0}">
        </iframe>
        <div class="-scaled-label" ng-if="isScaled">
            Scale: {{ scaleRatio | number: 0 }}%
        </div>
    </section>

    <a href="#" class="-close"
       ng-click="toggleAppAttrBucket()"
       ng-class="isStateAdd ? '-state-add' : ''">

        <span class="icon-close"></span>
    </a>
</div>