<section class="col-md-3 container-fluid -action">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="#">aa 1</a></li>
        <li><a href="#">aa 2</a></li>
        <li><a href="#">aa 3</a></li>
        <li><a href="#">aa 4</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="">Section 2 aa 1</a></li>
        <li><a href="">Section 2 aa 2</a></li>
        <li><a href="">Section 2 aa 3</a></li>
        <li><a href="">Section 2 aa 4</a></li>
        <li><a href="">Section 2 aa 5</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="">Section 3 aa 1</a></li>
        <li><a href="">Section 3 aa 2</a></li>
        <li><a href="">Section 3 aa 3</a></li>
    </ul>
</section>
