<div class="-navigation"
    ng-class="isVisible ? 'slide-in' : 'slide-out'"
    ng-controller="vlnAppNavCtrl">
    <section>
        <ul class="nav nav-sidebar">
            <li ng-class="{'active': currentAction == 'designAction'}">
                <a ng-click="loadDesignTools()">
                    <img alt="Design" src="images/ico-nav-01.svg">
                    <img alt="Design" src="images/ico-nav-01-a.svg">
                </a>
            </li>
            <li ng-class="{'active': currentAction == 'pageAction'}">
                <a ng-click="loadPageTools()">
                    <img alt="Pages" src="images/ico-nav-02.svg">
                    <img alt="Pages" src="images/ico-nav-02-a.svg">
                </a>
            </li>
            <li>
                <a href="#" ng-click="loadStatTools()">
                    <img alt="Pages" src="images/ico-nav-03.svg">
                    <img alt="Pages" src="images/ico-nav-03-a.svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img alt="Pages" src="images/ico-nav-04.svg">
                    <img alt="Pages" src="images/ico-nav-04-a.svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img alt="Pages" src="images/ico-nav-05.svg">
                    <img alt="Pages" src="images/ico-nav-05-a.svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img alt="Pages" src="images/ico-nav-06.svg">
                    <img alt="Pages" src="images/ico-nav-06-a.svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img alt="Pages" src="images/ico-nav-07.svg">
                    <img alt="Pages" src="images/ico-nav-07-a.svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img alt="Pages" src="images/ico-nav-08.svg">
                    <img alt="Pages" src="images/ico-nav-08-a.svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img alt="Pages" src="images/ico-nav-09.svg">
                    <img alt="Pages" src="images/ico-nav-09-a.svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img alt="Pages" src="images/ico-nav-10.svg">
                    <img alt="Pages" src="images/ico-nav-10-a.svg">
                </a>
            </li>
        </ul>
    </section>
</div>